html {
	overflow: hidden;
}

body {
	height: 100vh;
	padding-top: 32px;
	padding-bottom: 32px;
}

.label,
.control {
	display: inline-block;
	vertical-align: middle;
}

.label {
	padding-top: 0.35rem;
	max-height: 38px;
}

.help {
	margin-top: 0;
}

main {
	margin-top: 5rem;
}

.welcome-message {
	padding-top: 5rem;
}
