html {
  overflow: hidden;
}

body {
  height: 100vh;
  padding-top: 32px;
  padding-bottom: 32px;
}

.label,
.control {
  display: inline-block;
  vertical-align: middle;
}

.label {
  padding-top: 0.35rem;
  max-height: 38px;
}

.range-label {
  margin-right: 8px;
}

.input:focus {
  border: 1.3px solid #c9b158;
}

.help {
  margin-top: 0;
}

main {
  margin-top: 5rem;
}

.welcome-message,
.error-message {
  padding-top: 5rem;
}

code {
  background-color: black;
}

/* Styling for autocomplete widget */
.ui-menu {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 14px;
}

.ui-widget-content .ui-state-active {
  border: 1px solid #222222;
  background: #c9b158;
}

#js-chart-container {
  position: relative;
  vertical-align: middle;
}
